<h3>Contact requests</h3>
      <table>
        <tr *ngFor="let request of requests">

          <td> <p style="padding:1cm; font-size:12pt">{{request.sender}}</p> </td>

          <td>
            <button 
              (click)="onAccept(request.sender)"
              class="btn btn-success"
            > Accept
            </button>

            <button 
              (click)="onReject(request.sender)"
              class="btn btn-danger"
            >Reject
            </button>
          </td>

        </tr>
      </table>