#chatlist {
  height: 80vh;
  border: solid;
  border-radius: 23px;
  overflow: auto;
}

.badge {
  background-color:#00b300;
}

a {
  cursor: pointer;
}

.active a{
  background-color: rgb(78, 93, 108) !important;
}