#searchbar {
    width:70%;
    margin-bottom:20px;
}

#searchContactsHeader{
    margin-bottom: 10px;
}

.btn {
    float: right;
    border-radius: 10px;
    
}

input {
    border-radius: 10px;
}

td {
    padding-bottom: 7%;
    padding: 20px;
    
}

table {
    font-size: 12pt;
}

