<div class="navbar navbar-default navbar-collapse">

    <a class="navbar-brand" routerLink="/">
      New Messenger
    </a>

    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!authService.loggedIn()"><a routerLink="/login" href="#">Login</a></li>
      <li *ngIf="authService.loggedIn()"><a (click)="onLogout()">Log out</a></li>
      <li *ngIf="!authService.loggedIn()"><a routerLink="/register" href="#">Register</a></li>
      <li *ngIf="authService.loggedIn()"><a routerLink="/profile" href="#">Profile</a></li>

    </ul>
 
</div>
