<h3>Contacts</h3>

<div id="searchbar">
  <form ng-submit="searchContact()">

    <div class="input-group">
      <input type="text"
             class="form-control"
             [(ngModel)]="searchCriteria"
              name="search-criteria">
      <span class="input-group-btn">
  <input type="submit"
         class="btn btn-primary"
         (click)="searchContact()"
         value="Send"
         [disabled] = "messageInput === ''"
  >
  </span>
    </div>


  </form>

</div>

<table>
  <tr *ngFor="let result of results">
    <td style="padding-right:5%"> <p>{{result}}</p> </td>
    <td><button (click)="addContact(result)" class="btn btn-success">Add to Contacts</button></td>
  </tr>

</table>
